<app-navbar [tab]="5"></app-navbar>
<div id="container">
    <div class="item">
        <img src="../../assets/pghs.jpg" alt="UVU Logo .png image" id="uvu">
        <div id="info">
            <p class="name">Pleasant Grove High School</p>
            <p>Graduate May 2019</p>
            <p>700 E 200 S, Pleasant Grove, UT 84062</p>
            <p><a href="https://pghs.alpineschools.org/" target="_blank">https://pghs.alpineschools.org/</a></p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/matc.JPG" alt="CTS Logo .png image" id="cts">
        <div id="info">
            <p class="name">Utah Valley University Concurrent Enrollment classes</p>
            <p>Fall 2018 - May 2019</p>
            <p>1410 W 1250 S, Orem, UT 84058</p>
            <p><a href="https://mtec.edu/" target="_blank">https://mtec.edu/</a></p>
        </div>
    </div>
</div>