<app-navbar [tab]="4"></app-navbar>
<div id="container">
    <div class="item">
        <img src="../../assets/uvu_logo.png" alt="UVU Logo .png image" id="uvu">
        <div id="info">
            <p class="name">Utah Valley University Concurrent Enrollment classes</p>
            <p>Programming 1</p>
            <p>Mobile Apps Development</p>
            <p>Intro to IT</p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/cts_logo.png" alt="CTS Logo .png image" id="cts">
        <div id="info">
            <p class="name">Code To Success | Web Development</p>
            <p>Summer 2018</p>
            <p><a href="https://www.ctsutah.com/" target="_blank">https://www.ctsutah.com/</a></p>
        </div>
    </div>
</div>