<app-navbar [tab]="2"></app-navbar>
<div id="container">
  <div id="technical">
    <h3>Technical Skills</h3>
    <ul>
      <li>
        Projects
      </li>
      <ul id="projects">
        <li>Used C# to program a Tic-Tac-Toe graphical application.</li>
        <li>Used LUA scripting in the game engine "Roblox" to simulate the growth of bacteria in 3 dimensions for a math project in high school.</li>
        <li>Created multiple node applications, including a basic chat server, a chat server with commands, and several Express JS applications that handled GET and POST requests.</li>
        <li>Have set up and used Raspberry Pie mini computers.</li>
        <li>Created/worked on several Angular projects, including a Golf Scorecard application and News Application.</li>
        <li>Created very simple, non-specific react projects.</li>
        <li>Used CAD software to 3D print several objects, including a silly little spaceship car.</li>
        <li>Have used Google Firebase on several occasions for its Database and Web Hosting services.</li>
      </ul>
      <li>
        For Fun
      </li>
      <ul id="for-fun">
        <li>Capture The Flag (CTF) activities from sites like "overthewire".</li>
        <li>Actively use Javascript(plus the superset Typescript), C++, and Python.</li>
        <li>Some use of C, C#, and LUA.</li>
        <li>Have learned the basics of Tensorflow and Keras machine learning tools, and successfully trained a model with 99% accuracy for a sample dataset.</li>
        <li>Have used Node JS to create a "compiler" of sorts that can generate a python machine learning script from user specifications to best conform to the input data provided, which makes the whole process much easier compared to manual adjustment.</li>
        <li>Used the program "R Studio" in conjunction with the R Programming language to prepare data from a .csv file to be fed into a machine learning algorithm for training.</li>
        <li>Limited use of Kali Linux penetration testing distro in legal WiFi password cracking, 1 successful password retrieval.</li>
        <li>Extensive experience with Windows and Mac operating systems.</li>
        <li>Familiarity with Linux systems.</li>
        <li>Familiarity with the Linux command line.</li>
        <li>Some use of Linux Shell Scripting.</li>
        <li>Unlocked and rooted Nexus 7 Tablet, then installed Kali Linux Nethunter penetration testing software.</li>
        <li>Use of scripting language “Kerboscript” in realistic space flight simulator to automatically enter orbit of earth-like planet.</li>
      </ul>
    </ul>
  </div>
  <div id="personal">
    <h3>Personal Skills</h3>
    <ul>
      <li>Good student.</li>
      <li>Some leadership experience.</li>
      <li>Learn things quickly.</li>
      <li>Good problem solver.</li>
      <li>Positive Personality.</li>
      <li>Good communication skills.</li>
      <li>Self-disciplined.</li>
      <li>Punctual.</li>
    </ul>
  </div>
</div>