#container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    height: 30vh;
    width: 100%;

    #technical {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 5px;
        background-color: #fff;
        border-radius: 5px;
        opacity: 0.8;

        &:hover {
            opacity: 0.9;
        }
    }

    #personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 5px;
        background-color: #fff;
        border-radius: 5px;
        opacity: 0.8;

        &:hover {
            opacity: 0.9;
        }
    }
}