<app-navbar [tab]="2"></app-navbar>
<div id="container">
  <div id="technical">
    <h3>Technical Skills</h3>
    <ul>
      <li>
        Projects
      </li>
      <ul id="projects">
        <li>Used C# to program a Tic-Tac-Toe graphical application.</li>
        <li>Used LUA scripting in the game engine "Roblox" to simulate the growth of bacteria in 3 dimensions for a math project in high school.</li>
        <li>Created multiple node applications, including a basic chat server, a chat server with commands, and several Express JS applications that handled GET and POST requests.</li>
        <li>Have set up and used Raspberry Pie mini computers.</li>
        <li>Created/worked on several Angular projects, including a Golf Scorecard application and News Application.</li>
      </ul>
      <li>
        For Fun
      </li>
      <ul id="for-fun">
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ul>
    </ul>
  </div>
  <div id="personal">
    <h3>Personal Skills</h3>
    <ul>
      <li>Lorem Ipsum</li>
    </ul>
  </div>
</div>