#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 85vh;

    img {
        width: 250px;
        border-radius: 50px;
    }

    p {
        font-size: 1.5rem;
        margin: 20px;
    }

    .quote {
        font-size: 1.2rem;
        font-style: italic;
        opacity: 0.8;
        margin: 10px;
        margin-top: -10px;
    }

    .detail {
        font-size: 1.2rem;
        margin: 10px;
    }
}